.div{
    display: flex;
}
#heading {
  font-size: 48px;
  font-weight: 800;
  text-align: center;
  background: linear-gradient(45deg, #ff6b6b, #5f27cd, #48dbfb);
  -webkit-background-clip: text;
  color: transparent;
  margin-bottom: 20px;
}



/* body {
  background: linear-gradient(
    135deg,
    #ff9a9e 0%,
    #fad0c4 20%,
    #fcb69f 40%,
    #ffecd2 60%,
    #f6d365 80%,
    #fda085 100%
  );
  min-height: 100vh;
} */
.card {
  border-radius: 15px;
  box-shadow: 0px 8px 25px rgba(0, 0, 0, 0.2);
}
/* body {
  background: linear-gradient(135deg, #2193b0, #6dd5ed);
  min-height: 100vh;
} */
 body {
  background: linear-gradient(135deg, #dfdee6, #80cef1, #e088b1);
  min-height: 100vh;
}
#category{
    font-size: 50px;
    
}




